%h1 API documentation
%p
  Each query must contain api key.
%p 
  Your api key is
  %strong= @user.api_key
  = link_to "Generate new.", dashboard_settings_generate_api_key_path, class: "btn btn-success"

%h2 Posts
%p
  Get posts list
  %code= "/api/posts?api_key=#{@user.api_key}"

%p
  Get specific post
  %code= "/api/posts/:id?api_key=#{@user.api_key}"

%p
  Filter by tags
  %code= "/api/posts?api_key=#{@user.api_key}&tags=rails,ruby"

%h2 User settings
%p
  Tags(stored on settings page):
  %code= "/api/tags?api_key=#{@user.api_key}"

%p
  Avatar img:
  %code= "/api/avatar?api_key=#{@user.api_key}"