= form_for @dashboard_post do |f|
  - if @dashboard_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dashboard_post.errors.count, "error")} prohibited this dashboard_post from being saved:"
      %ul
        - @dashboard_post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :short
    = f.text_field :short, class: "form-control"
  .form-group
    = f.label :desc
    = f.bootsy_area :desc, class: "form-control", rows: 20
  .form-group
    = f.label :topic
    = f.text_field :topic, class: "form-control"
  .form-group
    = f.label :image
    = f.file_field :image, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-success"
