= form_for [:dashboard, @post] do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :short
    = f.text_field :short, class: "form-control"
  .form-group
    = f.label :content
    = f.bootsy_area :content, class: "form-control", rows: 20
  .form-group
    = f.label :tag, "Tags"
    //= f.select :tag, @tags.map { |t| [t.tag] }, { include_blank: true }, { class: 'chosen-select' }
    //= link_to('or new tag', 'javascript:;', id: "new-tag")
    //= f.text_field :tag, class: 'form-control new-tag', disabled: true
    = f.text_field :tag, id: "input-tags"
  .form-group
    = f.label :image
    = f.file_field :image, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-success"

:javascript
  $('#input-tags').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });