%table.posts
  %thead
    %tr
      %th Title
      %th Short
      %th Tags
      %th Published
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.short
        %td= post.tags.join(",")
        %td
          %input{:name => "switchName", :type => "checkbox", :value => "true", :data => {:selected => "#{check_status(post.status)}", :id => "#{post.id}"}, class: "switcher", id: "switcher"}/
        %td= link_to 'Show', dashboard_post_path(id: post), class: "btn btn-info"
        %td= link_to 'Edit', edit_dashboard_post_path(post), class: "btn btn-warning"

        - unless params[:action] == "archived"
          %td= link_to 'To archive', dashboard_post_path(id: post), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
%br

= link_to 'New Post', new_dashboard_post_path, class: "btn btn-success"
= link_to "Export to CSV", get_link_for_export("csv"), class: 'btn btn-info'

:javascript
  $(function () {
    var switcherEl = $('.switcher').switcher({
    });

    $('#switcher').change(function(){
      var id = $(this).attr("data-id");
      var redirect_to = "http://" + location.host + "/dashboard/posts/" + id + "/switch_status";
      console.log(redirect_to);
      
      window.location.replace(redirect_to);
    });
  });