%h1 Listing Posts

%table
  %thead
    %tr
      %th Title
      %th Short
      %th Desc
      %th Topic
      %th Image
      %th
      %th
      %th

  %tbody
    - @dashboard_posts.each do |post|
      %tr
        %td= post.title
        %td= post.short
        %td= post.desc
        %td= post.topic
        %td= image_tag post.image.url(:thumb)
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_dashboard_post_path(post)
        %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_dashboard_post_path
