%p#notice= notice
%p
  %b Url:
  = @post.slug
  = link_to "Generate url", dashboard_post_generate_url_path(post_id: @post.id), class: "btn btn-success"
%p
  %b Title:
  = @post.title
%p
  %b Short:
  = @post.short
%p
  %b Content:
  = raw(@post.content)
%p
  %b Tags:
  = @post.tags

= link_to 'Edit', edit_dashboard_post_path(@post), class: "btn btn-warning"
= link_to 'Back', dashboard_posts_path, class: "btn btn-default"
