%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Dashboard", "#", class: "navbar-brand"

    .navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Posts", dashboard_posts_path
        %li= link_to "Comments", "#"

      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Logout", logout_path

      .navbar-form.navbar-left
        = form_tag(dashboard_posts_path, method: :get) do
          .form-group
            = text_field_tag :query, nil, class: "form-control", placeholder: "Search"
            = submit_tag 'Search', class: "btn btn-default"